<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
        <li>{{this.name}} - {{this.description}} - ${{this.price}}</li>
    {{else}}
        <li>No hay productos disponibles.</li>
    {{/each}}
</ul>